@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300;400;500;600;700&display=swap);
.topBanner__ZoZ3Q{
    padding: 66px 0px 112px;
    position: relative;
}

.topBanner__ZoZ3Q:before{
    content: "";
    background: #F5F8F8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
}
.topBannerContainer__j2kx2{
    max-width: 966px;
    padding: 0px 15px;
    margin: 0px auto;
    position: relative;
}

.topBannerTitle__eklzG h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 104.5%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin: 0;
    padding-bottom: 20px;
}

.topBannerTitle__eklzG h3 span{
    color: #F35C5C;
}

.topBannerTitle__eklzG p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    margin: 0;
    padding-bottom: 35px;
    color: #333333;
}

.formGrid__lu6vo {
    background: #FFFFFF;
    border: 2px solid rgba(98, 67, 206, 0.18);
    box-shadow: 0px 2px 27px -1px rgba(0, 0, 0, 0.12);
    border-radius: 30px;
    padding: 50px;
    max-width: 584px;
    margin: 0px auto;
}

.formGrid__lu6vo ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 36px;
    padding-bottom: 40px;
}

.formGrid__lu6vo ul li.active__du3Zy svg path{
    fill: #6243CE;
}
.formGrid__lu6vo h4 {
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    padding-bottom: 15px;
    font-size: 26px;
    line-height: 120%;
    margin: 0;
}

.formGrid__lu6vo h4 span {
    color: #6243CE;
}

.formGroup__MywCE{
    margin-bottom: 20px;
}
.formGroup__MywCE label {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #333333;
    margin: 0;
    display: block;
    padding-bottom: 15px;
    text-align: left;
    font-family: 'DM Serif Display', serif;
}

.buttonGrid__saoE\+{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    gap: 10px;
}
.backBtn__xHrho {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    letter-spacing: -0.01em;
    background: transparent;
    color: #CED0D0;
    padding: 12px 15px;
}

.submitBtn__S26p6{
    background: #F35C5C;
    border-radius: 53px;
    max-width: 206px;
width: 100%;
    padding: 12px 25px;
    color: #fff;
    border: 1px solid #F35C5C;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.formScroll__Hg34P{
    height: 175px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}


.formScroll__Hg34P::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.formScroll__Hg34P::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

.formScroll__Hg34P::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}









/************************* How It Works ***************************/

.howItWork__ns-PQ{
    position: relative;
}

.howItWorkContainer__Y\+RiZ{
    max-width: 1070px;
    padding: 0px 15px;
    margin: 0px auto;
}

.howItWork__ns-PQ h3{
    font-weight: 400;
font-size: 33px;
line-height: 120%;
padding-bottom: 70px;
text-align: center;
letter-spacing: 0.01em;
margin: 0;
color: #333333;
}

.howItWorkGrid__EPcfb{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 30px;
}

.howItWorkCard__B3QBZ{
    background: #FFFFFF;
    box-shadow: 0px 2px 27px -1px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 40px 20px;
    text-align: center;
}

.howItWorkCard__B3QBZ h4{
margin: 0;
padding: 20px 0px 10px;
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.01em;
color: #333333;

}

.howItWorkCard__B3QBZ p{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: -0.01em;
margin: 0;
color: #333333;

}




/************************* Testimonials ***************************/

.testimonial__aBeSi{
    position: relative;
    padding-top: 100px;
}


.testimonialContainer__YXRgq{
    max-width: 1290px;
    margin: 0px auto;
}
.testimonial__aBeSi h3{
    font-weight: 400;
font-size: 33px;
line-height: 120%;
padding-bottom: 70px;
text-align: center;
letter-spacing: 0.01em;
margin: 0;
color: #333333;
}

.testimonialGrid__Uca9I{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 30px;
}

.testimonialCard__GINIb{
    background: #FFF5F5;
border-radius: 11px;
padding: 30px 20px;
}


.testimonialCard__GINIb p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    -webkit-font-feature-settings: 'calt' off;
            font-feature-settings: 'calt' off;
    color: #333333;
    opacity: 0.7;
    margin: 0;
    padding: 20px 0px 23px;
}

.testimonialCard__GINIb h4{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #333333;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-align: center;
        align-items: center;

}

.testimonialCard__GINIb h4 img{
    margin-right: 10px;
}

.rating__fsW\+n{
    display: -ms-flexbox;
    display: flex;
    gap: 6px;
}
/************************* Call To Action *************************/

.callToAction__1Z-ma{
    position: relative;
    padding: 100px 0px;
}

.callToActionContainer__ByZwV{
    max-width: 1166px;
    margin: 0px auto;
}

.callToActionGrid__0uvyu{
    background: #F5F8F8;
    border-radius: 30px;
    padding: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    gap: 40px;
}

.callToActionContent__sxMal h2{
    font-weight: 400;
    font-size: 33px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    max-width: 340px;
    text-align: center;
}

.callToActionContent__sxMal h2 span{ 
    color: #6243CE;
}

.callToActionContent__sxMal a{
    background: #F35C5C;
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
border-radius: 74px;
padding: 16px 32px;
max-width: 190px;
width: 100%;
margin: 0px auto;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.01em;
display: block;
text-align: center;
text-decoration: none;

color: #FFFFFF;
}
.footer__DGBa9{
    position: relative;
    background: #333333;
    padding: 27px 0px;
}

.container__eare5{
	max-width: 1150px;
	margin: 0px auto;
}

.footer__DGBa9 p{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6E6F6F;
    margin: 0;
    font-weight: 500;
}


@media screen and (max-width:767px){
    .footer__DGBa9 {
        padding: 49px 0px;
    }
}
.header__OVZyn {
	position: relative;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 12%);
    padding: 22px 0px;
    text-align: center;
	z-index: 9;
}

.container__J9tNr{
	max-width: 1200px;
	margin: 0px auto;
}


.layout__gpm4a{
    position: relative;
}
.wrapper__b8TZG{
    position: relative;
}
.home__uRcqa {
	position: relative;
}


.results__pJXMl{
    position: relative;
}
.thankyou__7BGPk{
    position: relative;
    padding: 50px 0px 90px;
    min-height: calc(100vh - 346px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.container__BbCh5{
    max-width: 936px;
    margin: 0px auto;
    padding: 0px 15px;
}

.thankyou__7BGPk img{
    max-width: 304px;
    margin: 0px auto;
    display: block;
}

.thankyou__7BGPk h2{
    font-weight: 400;
    font-size: 33px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}

.thankyou__7BGPk p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333333;
    max-width: 636px;
    margin: 0px auto;
}


@media screen and (max-width:767px){
    .thankyou__7BGPk{
        padding: 35px 0px 70px;
        min-height: inherit;
    }
}
:root {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;
	color: #333333;
	background: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #fff;
		background: #1c1c1c;
	}
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
}

button {
	font-family: 'Raleway', sans-serif;
}


/*# sourceMappingURL=ssr-bundle.6e512.css.map*/